{% extends 'base.html' %}
{% load static %}

{% block page_content %}

<link rel="stylesheet" href="/static/registry.css">
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<body>
	<div class="main-w3layouts wrapper">
		<h1>Смена пароля</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form method="post">
                    {% csrf_token %}
                    <input class="text" type="password" name="old_password" placeholder="Старый пароль" required="" style="margin-top: 2em; margin-bottom: 2em;">
                    <input class="text" type="password" name="new_password1" placeholder="Новый пароль" required="" style="margin-top: 2em; margin-bottom: 2em;">
                    <input class="text" type="password" name="new_password2" placeholder="Подтверждение нового пароля" required="" style="margin-top: 2em; margin-bottom: 2em;">
					<input type="submit" value="Сменить пароль">
				</form>
                <p><a href="{% url 'dashboard' %}">Назад к профилю</a></p>
			</div>
		</div>

	</div>
</body>
{% endblock %}