{% extends 'base.html' %}

{% block page_content %}

<link rel="stylesheet" href="/static/registry.css">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<body>
	<div class="main-w3layouts wrapper">
		<h1>Восстановление пароля</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form method="post">
                    {% csrf_token %}
					<input class="text email" type="email" name="email" placeholder="Почта" required="">

					<input type="submit" value="Выслать пароль">
				</form>
                <p><a href="{% url 'dashboard' %}">Назад к профилю</a></p>
			</div>
		</div>

	</div>
</body>
{% endblock %}