body {
  background-color: pink;
  margin-bottom: 500px; /* add more or less based on your choice */
}

.not-visible{
    background: aqua;
    visibility: collapse;
    display: none;
}

.content-container {
    position: relative;
    width: 100%;
    top: 60px;
    margin: 15px;
    overflow-y: auto;

}

@media (min-width:992px) {
  .vertical-nav {
      position: fixed;
      top: 56px;
      left: 0;
      width: 200px;
      height: 100%;
      background-color: lightgreen;
      color: white;
      overflow-y: auto;
      padding-top: 30px;

    }
}

