{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ course.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static course.image %}" alt="" width="300">
    </div>
    <div class="col-md-4">
        <h5>About the course:</h5>
        <p>{{ course.description }}</p>
        <br>
        <h5>Category:</h5>
        <p>{{ course.category }}</p>
        <br>
        <h5>Chapters:</h5>
            {% for chapter in course.chapter_set.all %}
                <p class="card-text">{{ chapter.title }}</p>
            {% endfor %}
        <a href="{% url 'course_enrollment' course.pk %}"
                       class="btn btn-primary">
                        Start course
        </a>
    </div>
</div>
{% endblock %}