{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ course.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static course.image %}" alt="" width="300">
    </div>
    <div class="col-md-4">
        <h5>О курсе:</h5>
        <p>{{ course.description }}</p>
        <br>
        <h5>Категория:</h5>
        <p>{{ course.category }}</p>
        <br>
        {% if course.single_attempt_course %}
            <h5>Количество попыток: 1</h5>
            {% else %}
            <h5>Количество попыток: неограниченно</h5>
        {% endif %}
        <br>
        <h5>Рейтинг курса:</h5>
        <p>{{ course.rating }}</p>
        <h5>Порог успешного прохождения курса:</h5>
        <p class="card-text">{{ course.pass_threshhold }}%</p>
            {% if course_result %}
                <h5>Курс пройден на:</h5>
                <p class="card-text">{{ course_result.score }}%</p>
                {% if course_result.score == 100 %}
                    {% if course_result.pass_threshhold >= course_result.course.pass_threshhold %}
                        <h3 style="color: green">Курс успешно завершен, ваш результат - {{ course_result.pass_threshhold }}%</h3>
                    {% else %}
                        <h3 style="color: red">Курс завален, ваш результат - {{ course_result.pass_threshhold }}%</h3>
                    {% endif %}
                {% endif %}
                <div>
                    <a href="{% url 'course_enrollment' course.pk %}"
                           class="btn btn-primary">
                            Продолжить курс
                    </a>
                    {% if not course.single_attempt_course %}
                        <a href="{% url 'course_drop_progress' course.pk %}"
                               class="btn btn-danger">
                                Сбросить прогресс
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <a href="{% url 'course_enrollment' course.pk %}"
                       class="btn btn-primary">
                        Начать курс
                 </a>
            {% endif %}
    </div>
</div>
    <div class="comments">
    <h3>Comments:</h3>
        {% for comment in course.coursecomment_set.all %}
            <div class="col-md-8 card mb-4  mt-3 left  top">
              <div class="card-body">
                <h1>{% block title %} {{ comment.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ comment.author }}, {{ comment.date }}</p>
                <p class=" text-muted">{{ comment.rating }} Stars</p>
                <p class="card-text ">{{ comment.description}}</p>
              </div>
            </div>
        {% endfor %}
    </div>

    <h3>Оставьте свой комментарий:</h3>
    <form method="POST" novalidate>
        {% csrf_token %}
        <div>
        {% for field in comment_form %}
        <div class="form-group">
            {{field.label_tag}}
            <div class="form-outline mb-4">{{field}}</div>
            {% if field.errors%}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        </div>
        <input type="submit" value="Send" >
    </form>
{% endblock %}