{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ course.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static course.image %}" alt="" width="300">
    </div>
    <div class="col-md-4">
        <h5>About the course:</h5>
        <p>{{ course.description }}</p>
        <br>
        <h5>Category:</h5>
        <p>{{ course.category }}</p>
        <br>
        <h5>Chapters:</h5>
            {% for chapter in course.chapter_set.all %}
                <p class="card-text">{{ chapter.title }}</p>
            {% endfor %}
        <a href="{% url 'course_enrollment' course.pk %}"
                       class="btn btn-primary">
                        Start course
        </a>
    </div>
</div>
    <div class="comments">
    <h3>Comments:</h3>
        {% for comment in course.coursecomment_set.all %}
            <div class="col-md-8 card mb-4  mt-3 left  top">
              <div class="card-body">
                <h1>{% block title %} {{ comment.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ comment.author }}, {{ comment.date }}</p>
                <p class=" text-muted">{{ comment.rating }} Stars</p>
                <p class="card-text ">{{ comment.description}}</p>
              </div>
            </div>
        {% endfor %}
    </div>

    <h3>Leave a comment</h3>
        <form method="post">
                  {% csrf_token %}
          {{ comment_form.as_p }}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
{% endblock %}