{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Ваши персональные рекомендации</h1>
<div class="row">
{% for course in courses %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static course.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p class="card-text">{{ course.description }}</p>
                <a href="{% url 'course_detail' course.pk %}"
                   class="btn btn-primary">
                    Попробовать!
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}