{% extends "base_course.html" %}
{% load static %}
{% block page_course_content %}

    <div>
        {{ task.title }}
    </div>

<form id="task-form" class="mt-3 mb-3" method="post">
    {% csrf_token %}

    {% if task.category == 'CHOOSE_ANSWERS' %}
        {% for question in questions %}
        {% for q, a in question.items %}
        {{ q }}<br>
            {% for answer in a %}
            <div>
                <input type="radio" class="ans" id="{{ q }}-{{ answer }}" name="{{ q }}" value="{{ answer }}">
                <label for="{{ q }}">{{ answer }}</label>
            </div>
            {% endfor %}
        {% endfor %}
        {% endfor %}
    {% elif task.category == 'WRITE_ANSWERS' %}
        {% for question in questions %}
        {% for q, a in question.items %}
        {{ q }}<br>
            <div>
                <input type="text" class="ans" id="{{ q }}-{{ a }}" name="{{ q }}" value="">
                <label for="{{ q }}"></label>
            </div>
        {% endfor %}
        {% endfor %}
    {% endif %}

    <button type="submit" class="btn btn-primary mt-2">save</button>
</form>

{% endblock %}

